:root {
  --body-font-family: 'Epilogue', sans-serif;
  --heading-section-color-d-t: #1E2827;
  --heading-section-color-m: #141414;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}

body {
  font-family: var(--body-font-family);

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-width: 375px;
  /* width: 375px; */
}

.section-heading {
  font-family: var(--body-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.64px;
  color: var(--heading-section-color-m);
  margin-bottom: 40px;
}

/* SALE-SECTION */
.sale-container {
  margin-top: 80px;
}

.sale-container .section-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-content .watch-photo-container {
  display: flex;
  gap: 20px;
}

.watch-photo-container .small-photos-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 25.3968254%; */

  /* width: calc((100% - 70.1492537%) - 5.970149254%); */

  width: calc((100% - 73.1343284%) - 10px);
  
}

.small-photos-list .small-photo {
  display: flex;
  flex-direction: column;
}

.watch-photo-container .main-photo {
  display: flex;
  flex-direction: column;
  /* width: 74.6031746%; */

  /* width: calc((100% - 23.8805970%) - 5.970149254%); */

  width: calc((100% - 26.8656716%) - 10px);
}


.section-content .watch-info-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-box .product-name {
  /* font-size: 24px;
  font-weight: 400;
  line-height: 1px;
  letter-spacing: -0.48px;
  color: #141414; */

  font-family: Epilogue;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.info-box .product-tag {
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141480;
  margin-bottom: 16px;
}

.info-box .price {
  display: flex;
  gap: 8px;
  align-items: baseline;

}

.price .actual-price {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.price .old-price {
  font-family: Epilogue;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  color:#14141480;
  text-decoration: line-through;
}

.info-box .product-description,
.info-box .product-details {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
  text-transform: uppercase;
  
  border-top: 1px solid #141414;
}

.collapsible-box .collapsible-content {
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color:#14141480;
}

.collapsible-box pre.collapsible-content {
  white-space: pre-line;
}








/* ? */
/* .watch-info-container .product-description {
  display: flex;
  justify-content: space-between;
} */



.watch-info-container .product-description .subheading {
font-family: Epilogue;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
}



/* TABLET */
@media screen and (min-width: 768px) {

}
  

/* DESKTOP VERSION*/
@media screen and (min-width: 1280px) {
  .container {

  }
  
}